.colosseum{
    display:grid;
    grid-template-columns: auto auto;
}
.colosseum_info{
    float:right;
    flex-wrap:wrap;
}
.colosseum_pic{
    padding-left:20%
}
.colosseum_info{
    margin-right:20%;
}
img{
    margin:auto;
}
.navbar{
    display:flex;
    justify-content: center;                 
}
.nav_links{
    display: flex;
    flex-direction: row;               
}