h1{
    font-family: 'Bevan', serif;
    font-family: 'Courgette', cursive;
    font-family: 'Old Standard TT', serif;
}
.greens_pic{
    margin:auto;
    display:flex;
}
img{
    margin:auto;
}   
.navbar{
    margin-left:auto;
    margin-right:auto;
    padding:0;
    text-align:center;
    font-size:large;
}
.navbar a{
    display:flex;
    flex-direction:column;
    padding:20px;
}
a:link{
    color:black;
    text-decoration:none;
}
a:visited{
    color:rgb(63, 63, 63);
    text-decoration:none;
}
a:hover{
    color:black;
    text-decoration:underline;
}
.colosseum_pic{
    margin:auto;
    display:flex;
}
img{
    margin:auto;
}
.colosseum_info{
    display:flex;
    flex-wrap: wrap;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
}   
.trevi{
    display:flex;
    margin:auto;
    flex-grow:2.5;
}
.trevi_vid{
    text-align:center;
    margin:auto;
}
.footer_info{
    display:inline-block;
    padding:20px;
}